.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #F5EFE7;
  }
  
  .nav-links {
    margin-right: 100px;
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 15px;
  }
  
#about{
    margin-left: 20px;
  }
  .nav-links {
    margin-right: 100px;
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 15px;
  }
  /* .buttons:hover{
    color: red;
  } */
  /* .buttons:hover{
    color: red;
  } */
  .nav-links li {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  #contact {
    text-decoration: none;
    color:black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    /* color: inherit; Optional: Retain the text color */
  }
  