.homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
    height: auto;
    width: auto;
    margin-bottom: 100px;
  }
  
  .icon {
    width: 350px;
    height: auto;
    margin-top:-20%;
  }
  
  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    margin-top:-20%;
  }
  
  h1 {
    /* Vote Today */

width: 482px;
height: 136px;

font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 85px;
line-height: 136px;
/* identical to box height */

color: #213555;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

  }
  
  h3 {
    /* Be a part of decision */

position: relative;
/* width: 431px;
height: 132px;
left: 1050px;*/
top: 60px; 

font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 66px;

color: #3E5879;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

  }
  
  .buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#participant, #admin {
    padding: 15px 30px; /* Increased padding for larger buttons */
    font-size: 1.1rem; /* Increased font size */
    border: none;
    cursor: pointer;
    border-radius: 8px; /* Slightly larger border radius for a softer look */
}

.admin-btn {
    background-color: #3E5879;
    color: #F5EFE7;
}

.participant-btn {
    background-color: #3E5879;
    color: #F5EFE7;
}

  #participant{
    text-decoration: none;
    /* color: inherit; Optional: Retain the text color  */
  
  }
  #admin{
    text-decoration: none;
  }
  